/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-color: #397585;
  background-image: url("../../static/img/test-blur.jpg");
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --logo-color-light: #000000;
  --logo-color-dark: #ffffff;
}

.achar {
  fill: var(--logo-color-dark);
}
