/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

[data-theme='dark'] .heroBanner {
  background-color: #121212;
}

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-color: #397585;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
